<header class="topbar" data-navbarbg="skin5">
    <nav class="navbar top-navbar navbar-expand-md navbar-dark">
        <div class="navbar-header" data-logobg="skin5">
            <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i
                    class="ti-menu ti-close"></i></a>
            <a class="navbar-brand" href="/index">
                <!-- Logo icon -->
                <b class="logo-icon p-l-10">
                    <img src="/static/assets/images/big/auth-bg.jpg" alt="homepage" style="height: 30px;"
                         class="light-logo"/>

                </b>
                <span class="logo-text">
{#                             <img src="/static/assets/images/logo-text.png" alt="homepage" width="100px"#}
{#                                  class="light-logo"/>#}
                                <font color="white">文本解析UI</font>
                        </span>
            </a>
            <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)"
               data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
               aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>
        </div>
        <div class="navbar-collapse collapse layui-bg-cyan" id="navbarSupportedContent" data-navbarbg="skin5">
            <ul class="navbar-nav float-left">
                <li class="nav-item d-none d-md-block"><a class="nav-link sidebartoggler waves-effect waves-light"
                                                          href="javascript:void(0)" data-sidebartype="mini-sidebar"><i
                        class="mdi mdi-menu font-24"></i></a></li>

            </ul>
            <ul class="layui-nav float-left mr-auto" style="background-color: #141619">
{#                <li class="layui-nav-item head_navigation"><a href="/project_process">项目生产</a></li>#}
{#                <li class="layui-nav-item head_navigation"><a href="/data_assets">数据资产</a></li>#}
{#                <li class="layui-nav-item head_navigation"><a href="/metadata">元数据</a></li>#}
            </ul>
            <ul class="navbar-nav float-right ">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <div id="timeDiv"></span></div>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="mdi mdi-bell font-24" id='message_bell'></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/user_center/message_list">未读消息</a>
                        <a class="dropdown-item" href="/user_center/message_list">未读错误消息</a>
                        <!--                            <a class="dropdown-item" href="#">Another action</a>-->
                        <!--                            <div class="dropdown-divider"></div>-->
                        <!--                            <a class="dropdown-item" href="#">Something else here</a>-->
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" id="2"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i
                            class="font-24 mdi mdi-comment-processing"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right mailbox animated bounceInDown"
                         aria-labelledby="2">
                        <ul class="list-style-none">
                            <li>
                                <div class="">
                                    <!-- Message -->
                                    <a href="javascript:void(0)" class="link border-top">
                                        <div class="d-flex no-block align-items-center p-10">
                                                <span class="btn btn-success btn-circle"><i
                                                        class="ti-calendar"></i></span>
                                            <div class="m-l-10">
                                                <h5 class="m-b-0">Event today</h5>
                                                <span>Just a reminder that event</span>
                                            </div>
                                        </div>
                                    </a>
                                    <!-- Message -->
                                    <a href="javascript:void(0)" class="link border-top">
                                        <div class="d-flex no-block align-items-center p-10">
                                            <span class="btn btn-info btn-circle"><i class="ti-settings"></i></span>
                                            <div class="m-l-10">
                                                <h5 class="m-b-0">Settings</h5>
                                                <span>You can customize this template</span>
                                            </div>
                                        </div>
                                    </a>
                                    <!-- Message -->
                                    <a href="javascript:void(0)" class="link border-top">
                                        <div class="d-flex no-block align-items-center p-10">
                                            <span class="btn btn-primary btn-circle"><i class="ti-user"></i></span>
                                            <div class="m-l-10">
                                                <h5 class="m-b-0">Pavan kumar</h5>
                                                <span>Just see the my admin!</span>
                                            </div>
                                        </div>
                                    </a>
                                    <!-- Message -->
                                    <a href="javascript:void(0)" class="link border-top">
                                        <div class="d-flex no-block align-items-center p-10">
                                                <span class="btn btn-danger btn-circle"><i
                                                        class="fa fa-link"></i></span>
                                            <div class="m-l-10">
                                                <h5 class="m-b-0">Luanch Admin</h5>
                                                <span>Just see the my new admin!</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href=""
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img id='head_portrait'
                                                                                              src="/static/assets/images/users/1.jpg"
                                                                                              alt="user"
                                                                                              class="rounded-circle"
                                                                                              width="31"
                                                                                              height="31"></a>
                    <div class="dropdown-menu dropdown-menu-right user-dd animated">
                        <div id="nickname" align="center" style="padding-top: 15px;padding-bottom: 15px"></div>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/user_center"><i class="ti-user m-r-5 m-l-5"
                                                                        aria-disabled="true"></i>个人中心</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/user_center/user_info"><i class="ti-settings m-r-5 m-l-5"></i>
                            账户设置</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout"><i
                                class="fa fa-power-off m-r-5 m-l-5"></i> 登出</a>
                        <div class="dropdown-divider"></div>
                        <div class="p-l-30 p-10"><a href="javascript:void(0)"
                                                    class="btn btn-sm btn-success btn-rounded">View Profile</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div id='reset_project_hide_form'style="display:none; padding: 5px">
    <table class="layui-table" id="project_list" lay-filter="project_list_filter">
    </table>
</div>
